datasets
sentence-transformers
diffusers
accelerate
huggingface_hub[cli]
torchvision
pillow
scikit-learn

langchain 
langchain-community 
langchain-huggingface 
huggingface_hub 


pypdf

llama-index 
llama-index-llms-groq  
llama-index-embeddings-huggingface 
sentence-transformers

langchain-groq 
faiss-cpu 

twilio

chromadb

crewai 
litellm
request
python-dotnev

autogen-agentchat
groq
autogen

neworkx
spacy
requests

fastpi
nest-asyncio
uvicorn
pyngrok
scikit-learn

autogen-agentchat 
groq
autogen

gradio

tiktoken
wikipedia
datetime